sudo: required
dist: trusty
language: python

matrix:
    include:
        - python: 3.5
          env: TOXENV=py35
        - python: 2.7
          env: TOXENV=py27
        - python: 2.7
          env: TOXENV=docs

install:
    - pip install tox

script: tox
