---
# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

# env:
# https://github.com/musescore/MuseScore/issues/17247
# https://github.com/musescore/MuseScore/issues/17247#issuecomment-1510434918
# https://ourcodeworld.com/articles/read/1409/how-to-use-musescore-3-in-headless-mode-in-ubuntu-2004
# QT_QPA_PLATFORM: offscreen

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      # - name: >-
      #     Install “libfuse2” to prevent AppImage Error: error
      #     while loading shared libraries: libfuse.so.2: cannot open shared
      #     object file: No such file or directory
      #   run: sudo apt install libfuse2
      # - name: >-
      #     findlib: libjack.so.0: cannot open shared object file: No such file or directory
      #     /usr/bin/mscore: Using fallback for library 'libjack.so.0'
      #     /lib/x86_64-linux-gnu/libnss3.so
      #   run: sudo apt install libjack0
      # - name: Download latest “mscore” AppImage
      #   run: |
      #     wget --quiet --output-document mscore https://github.com/musescore/MuseScore/releases/download/v4.2.0/MuseScore-4.2.0.233521125-x86_64.AppImage
      #     chmod a+x mscore
      #     sudo cp mscore /usr/bin/mscore

      # https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v6

      - name: Install dev dependencies for lxml
        run: sudo apt install libxml2-dev libxslt1-dev

      # https://docs.astral.sh/uv/guides/integration/github/#multiple-python-versions
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.26"
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests -m "not (slow or gui)"
